@theme {
  --color-primary: #01959F;
  --color-secondary: #FBC037;

  --breakpoint-xs: 26.875rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */

  --color-background: hsl(0 0% 100%);
}